.centre_titres{
    text-align: center;
}
.titre_section{
    backdrop-filter: blur(9px);
    border: solid white 1px;
    border-radius: 8% 92% 12% 88% / 88% 11% 89% 12%;
    width: 40%;
    padding: 0 40px;
    color: white;
    text-align: center;
    display: inline-block;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    margin: auto;
    margin-top: 70px;
}

.zone_expl{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    backdrop-filter: blur(35px);
    color: white;
    text-align: left;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
}
.zone_expl p{
    padding: 0;
}

.zone_projets_court{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    backdrop-filter: blur(35px);
    color: white;
    text-align: left;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    width: 40%;
}

.zone_projets_court p{
    padding: 0;
}

.espace_bas{
    height: 100px;
}
.div_btn{
    text-align: center;
}
.btn{
    text-align: center;
    display: inline-block;
    padding: 10px;
    background: rgb(0, 71, 163);
    color: white;
    margin: auto;
    border-radius: 0px;
    font-family: 'Poppins', sans-serif;
    border: solid white 0px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
.btn:active{
    transform: scale(0.95);
    background-color: rgb(80, 0, 0);
}
.btn:hover{
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
    transition: box-shadow 0.1s;
}
.btn:not(:hover){
    transition: box-shadow 0.1s;
}
.btn:before{
    content: "> ";
}

.photos_projets_interne{
    display: inline-block;
    text-align: center;
    width:450px;
    margin: auto;
}
.img_projets {
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
.centrer_img{
    text-align: center;
}

.capture_sites_web{
    display: inline-block;
    text-align: center;
    width:400px;
    margin: auto;
}

.inline_aff{
    display: inline-block;
}


@media screen and (min-width: 1000px) {
    .flexspace {
        display: flex;
        justify-content: space-between;
    }
}

.zone_expl2{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    backdrop-filter: blur(35px);
    color: white;
    text-align: left;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
}

/* Formulaire contact */
.contact-form-container {
    padding: 20px;
    width: 100%;
    max-width: 95%;
}
.form-group {
    margin-bottom: 15px;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.932);
}
textarea {
    resize: none;
    height: 120px;
}
#btn_envoi {
    width: 150px;
    padding: 10px;
    background-color: #009ad6;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#btn_envoi:hover {
    background-color: #006993;
}
#responseMessage {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #009ad6;
}
.envoimail{
    text-align: center;
    margin-top: 20px;
}

/* Compétences */
.competences {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    text-align: center;
}

.competence {
    background-color: #ffffffd1;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s ease;
}

.competence:hover {
    transform: translateY(-5px);
}

.competence p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Bar styling */
.barre_competence {
    background-color: #000;
    border-radius: 20px;
    height: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

/* Inner bar (progress) */
.progress {
    background-color: #008deb; 
    height: 100%;
    border-radius: 20px;
}
